<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        th {
            text-align: left;
        }


    </style>
</head>
<body>
<!--     <p th:text="${ bookDtoList }" /> -->

<table style="width:100%"
>
    <tbody>
    <td>Patient identity card number</td>
    <td>Doctor username</td>
    <td>Date</td>
    <td>Description</td>
    </th>
    <tr th:each="consultation : ${ consultationDtoList }">
        <td th:text="${ consultation.patient.identityCardNumber}">Patient identity card number</td>
        <td th:text="${ consultation.doctor.userName }">Doctor username</td>
        <td th:text="${ consultation.date }">Date</td>
        <td th:text="${ consultation.description }">Description</td>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/secretary}"  method="get">
    <p><input type="submit" class="button"  value="Go back to menu" />
    </p>
</form>
</body>
</html>