<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--     <p th:text="${ bookDtoList }" /> -->



<form action="#" th:action="@{/getBooksByGenreForm}"  method="get">

    <p><input type="submit" class="button"  value="View books by genre" />
    </p>
</form>

<form action="#" th:action="@{/getBooksByTitleForm}"  method="get">

    <p><input type="submit" class="button"  value="View books by title" />
    </p>
</form>

<form action="#" th:action="@{/getBooksByAuthorForm}"  method="get">

    <p><input type="submit" class="button"  value="View books by author" />
    </p>
</form>

<form action="#" th:action="@{/sellBooksForm}"  method="post">

    <p><input type="submit" class="button"  value="Sell book" />
    </p>
</form>

</body>
</html>